In [1]:
#Intro

In [2]:
#imports (use pip install 'package')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import patsy
import statsmodels.api as sm
from scipy.stats import ttest_ind
import geocoder
import folium
from haversine import haversine
% matplotlib inline
import seaborn as sns
from matplotlib import rcParams

In [3]:
#Load the csv file for green taxis August 2013 into a pandas dataframe
green = pd.read_csv('green_tripdata_2013-08.csv')
df_green = pd.DataFrame(green)

#Load the csv file for NYC 2012-2013 traffic into a pandas datafram
traffic = 'Traffic_Volume_Counts__2012-2013_.csv'
df_traffic = pd.read_csv(traffic)

In [4]:
#green taxi data before cleaning
df_green.head(n=10)

                                  VendorID lpep_pickup_datetime  \
2 2013-08-01 08:14:37  2013-08-01 09:09:06                    N
  2013-08-01 09:13:00  2013-08-01 11:38:00                    N
  2013-08-01 09:48:00  2013-08-01 09:49:00                    N
  2013-08-01 10:38:35  2013-08-01 10:38:51                    N
  2013-08-01 11:51:45  2013-08-01 12:03:52                    N
  2013-08-01 14:33:39  2013-08-01 15:49:00                    N
  2013-08-01 17:19:00  2013-08-01 17:19:00                    N
  2013-08-01 17:22:00  2013-08-01 17:22:00                    N
  2013-08-01 17:24:00  2013-08-01 17:25:00                    N
  2013-08-01 19:21:09  2013-08-01 19:22:30                    N

                       Lpep_dropoff_datetime  Store_and_fwd_flag  RateCodeID  \
2 2013-08-01 08:14:37                      1            0.000000    0.000000
  2013-08-01 09:13:00                      1            0.000000    0.000000
  2013-08-01 09:48:00                      5            0.000000    0.000000
  2013-08-01 10:38:35                      1            0.000000    0.000000
  2013-08-01 11:51:45                      1            0.000000    0.000000
  2013-08-01 14:33:39                      1            0.000000    0.000000
  2013-08-01 17:19:00                      1            0.000000    0.000000
  2013-08-01 17:22:00                      1          -73.937767   40.758480
  2013-08-01 17:24:00                      1          -73.937927   40.757843
  2013-08-01 19:21:09                      1            0.000000    0.000000

                       Pickup_longitude  Pickup_latitude  Dropoff_longitude  \
2 2013-08-01 08:14:37          0.000000         0.000000                  1
  2013-08-01 09:13:00          0.000000         0.000000                  2
  2013-08-01 09:48:00          0.000000         0.000000                  1
  2013-08-01 10:38:35          0.000000         0.000000                  1
  2013-08-01 11:51:45          0.000000         0.000000                  1
  2013-08-01 14:33:39          0.000000         0.000000                  1
  2013-08-01 17:19:00          0.000000         0.000000                  1
  2013-08-01 17:22:00        -73.937767        40.758480                  1
  2013-08-01 17:24:00        -73.937927        40.757843                  1
  2013-08-01 19:21:09          0.000000         0.000000                  5

                       Dropoff_latitude  Passenger_count  Trip_distance  \
2 2013-08-01 08:14:37               0.0            21.25            0.0
  2013-08-01 09:13:00               0.0            74.50            0.0
  2013-08-01 09:48:00               0.0             1.00            0.1
  2013-08-01 10:38:35               0.0             3.25            0.0
  2013-08-01 11:51:45               0.0             8.50            0.0
  2013-08-01 14:33:39               0.0             9.00            0.0
  2013-08-01 17:19:00               0.0             2.50            1.0
  2013-08-01 17:22:00               0.0             2.50            1.0
  2013-08-01 17:24:00               0.0             2.50            1.0
  2013-08-01 19:21:09               0.0             3.00            1.0

                       Fare_amount  Extra  MTA_tax  Tip_amount  Tolls_amount  \
2 2013-08-01 08:14:37          0.0    0.0     0.00         NaN         21.25
  2013-08-01 09:13:00          0.5    0.0     0.00         NaN         75.00
  2013-08-01 09:48:00          0.0    0.0     1.00         NaN          2.10
  2013-08-01 10:38:35          0.0    0.0     0.00         NaN          3.25
  2013-08-01 11:51:45          0.5    0.0     0.00         NaN          9.00
  2013-08-01 14:33:39          0.5    0.0     0.00         NaN          9.50
  2013-08-01 17:19:00          0.5    0.0     0.00         NaN          4.00
  2013-08-01 17:22:00          0.5    0.0     5.33         NaN          9.33
  2013-08-01 17:24:00          0.5    0.0     1.11         NaN          5.11
  2013-08-01 19:21:09          0.5    0.0     0.00         NaN          4.50

                       Ehail_fee  Total_amount  Payment_type  Trip_type
2 2013-08-01 08:14:37          2           NaN           NaN         NaN
  2013-08-01 09:13:00          2           NaN           NaN         NaN
  2013-08-01 09:48:00          2           NaN           NaN         NaN
  2013-08-01 10:38:35          2           NaN           NaN         NaN
  2013-08-01 11:51:45          2           NaN           NaN         NaN
  2013-08-01 14:33:39          2           NaN           NaN         NaN
  2013-08-01 17:19:00          2           NaN           NaN         NaN
  2013-08-01 17:22:00          2           NaN           NaN         NaN
  2013-08-01 17:24:00          2           NaN           NaN         NaN
  2013-08-01 19:21:09          1           NaN           NaN         NaN

In [5]:
#2012-2013 NYC traffic before cleaning
df_traffic.head(n=10)

,ID,Segment ID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
0,1,2153,HUGUENOT AVE,WOODROW RD,STAFFORD AVE,NB,02/02/2013,106,74,45.0,...,371,398,324,394,379,329,249,197,187,169
1,1,2153,HUGUENOT AVE,WOODROW RD,STAFFORD AVE,NB,02/03/2013,109,74,55.0,...,308,291,313,253,242,217,210,144,125,79
2,1,2153,HUGUENOT AVE,WOODROW RD,STAFFORD AVE,NB,02/04/2013,36,28,11.0,...,426,425,419,469,425,358,224,185,132,74
3,1,2153,HUGUENOT AVE,WOODROW RD,STAFFORD AVE,NB,02/05/2013,42,28,16.0,...,393,479,441,476,446,424,305,219,171,76
4,1,2153,HUGUENOT AVE,WOODROW RD,STAFFORD AVE,NB,02/06/2013,35,38,12.0,...,383,384,391,369,401,338,236,186,123,76
5,1,2153,HUGUENOT AVE,WOODROW RD,STAFFORD AVE,NB,02/07/2013,33,26,14.0,...,151,409,422,364,356,339,275,225,169,104
6,1,2153,HUGUENOT AVE,WOODROW RD,STAFFORD AVE,NB,02/08/2013,35,28,18.0,...,430,518,461,485,531,393,351,276,242,154
7,1,2153,HUGUENOT AVE,WOODROW RD,STAFFORD AVE,NB,02/09/2013,110,73,46.0,...,379,406,330,402,387,336,254,201,191,174
8,1,2153,HUGUENOT AVE,WOODROW RD,STAFFORD AVE,NB,02/10/2013,114,77,58.0,...,315,297,320,257,246,221,214,147,121,85
9,1,2153,HUGUENOT AVE,WOODROW RD,STAFFORD AVE,NB,02/11/2013,38,30,15.0,...,434,433,438,478,433,365,228,189,136,75

In [6]:
#cleaning green taxi data

#drop rows without location data
df_green = df_green[df_green.Pickup_longitude != 0]
#drop useless columns
df_green.drop(df_green.columns[[1,2,7,8,10,11,12,13,14,15,16,17,18,19]],axis = 1,inplace = True)
#rename columns because of some extra commas in the csv
df_green.columns = ['Dropoff_time','Pickup_longitude','Pickup_latitude','Dropoff_longitude','Dropoff_latitude','Trip_distance']
#shift the row indices to a new column
df_green.index.name = 'Pickup_time'
df_green.reset_index(inplace=True)
#drop useless level 0 column created from shifting the indices
del df_green['level_0']
#rename level_1 to pickup time
df_green.rename(columns={'level_1': 'Pickup_time'}, inplace=True)

In [7]:
#cleaned green taxi data
df_green

,Pickup_time,Dropoff_time,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Trip_distance
0,2013-08-01 17:22:00,2013-08-01 17:22:00,-73.937767,40.758480,-73.937767,40.758480,2.50
1,2013-08-01 17:24:00,2013-08-01 17:25:00,-73.937927,40.757843,-73.937927,40.757843,2.50
2,2013-08-05 11:31:47,2013-08-05 11:34:01,-115.179100,36.137096,-115.179337,36.136684,1.00
3,2013-08-05 11:31:47,2013-08-05 11:32:16,-115.179100,36.137096,-115.179337,36.136684,1.20
4,2013-08-05 11:51:21,2013-08-05 11:51:36,-115.179199,36.137047,-115.179199,36.137009,1.00
5,2013-08-05 11:53:27,2013-08-05 11:53:43,-115.179337,36.136753,-115.179276,36.136826,1.00
6,2013-08-06 06:51:19,2013-08-06 06:51:36,-73.937721,40.758404,-73.937721,40.758369,3.30
7,2013-08-06 10:33:07,2013-08-06 10:33:46,-76.979668,38.927082,-76.979713,38.927326,3.25
8,2013-08-06 13:26:34,2013-08-06 13:26:57,-73.937691,40.758419,-73.937790,40.758358,3.30
9,2013-08-06 13:27:53,2013-08-06 13:28:08,-73.937805,40.758396,-73.937775,40.758450,3.30
10,2013-08-06 13:29:17,2013-08-06 13:29:52,-73.937744,40.758415,-73.937759,40.758389,3.50
11,2013-08-06 13:30:55,2013-08-06 13:31:12,-73.937775,40.758366,-73.937790,40.758350,3.30
12,2013-08-07 10:22:30,2013-08-07 10:23:24,-76.979950,38.927292,-76.979591,38.927288,3.52
13,2013-08-07 10:24:53,2013-08-07 10:28:16,-76.979668,38.927311,-76.979889,38.927174,3.25
14,2013-08-07 10:24:53,2013-08-07 10:27:24,-76.979668,38.927311,-76.979813,38.927128,3.52
15,2013-08-07 10:33:23,2013-08-07 10:34:10,-76.979790,38.927311,-76.979561,38.927151,3.52
16,2013-08-07 14:12:46,2013-08-07 14:15:16,-73.937485,40.758392,-73.937485,40.758209,3.50
17,2013-08-07 15:13:35,2013-08-07 15:13:49,-115.179192,36.136860,-115.179283,36.137066,1.00
18,2013-08-07 15:38:07,2013-08-07 15:38:27,-73.937485,40.758125,-73.937485,40.758137,2.50
19,2013-08-07 15:42:29,2013-08-07 15:43:25,-73.937477,40.758175,-73.937424,40.758152,2.50
20,2013-08-07 15:46:09,2013-08-07 15:48:56,-73.937447,40.758244,-73.937508,40.758251,3.50
21,2013-08-07 15:49:16,2013-08-07 15:49:32,-73.937508,40.758240,-73.937447,40.758183,2.50
22,2013-08-07 16:06:29,2013-08-07 16:08:52,-73.937424,40.758240,-73.937469,40.758202,3.50
23,2013-08-07 16:15:27,2013-08-07 16:18:27,-73.937424,40.758167,-73.937431,40.758213,2.50
24,2013-08-07 16:15:27,2013-08-07 16:20:09,-73.937424,40.758167,-73.937424,40.758251,3.00
25,2013-08-07 16:27:31,2013-08-07 16:27:55,-73.937447,40.758183,-73.937492,40.758194,2.50
26,2013-08-07 16:27:31,2013-08-07 16:35:34,-73.937447,40.758183,-73.937325,40.758198,3.00
27,2013-08-07 16:38:29,2013-08-07 16:40:06,-73.937363,40.758148,-73.937416,40.758087,2.50
28,2013-08-07 16:38:29,2013-08-07 16:46:51,-73.937363,40.758148,-73.937241,40.758106,5.50
29,2013-08-07 16:43:27,2013-08-07 16:44:24,-73.937660,40.758347,-73.937729,40.758305,2.50
...,...,...,...,...,...,...,...
7065,2013-08-31 23:23:38,2013-08-31 23:36:16,-73.913605,40.765427,-73.918091,40.741680,11.00
7066,2013-08-31 23:23:45,2013-08-31 23:34:26,-73.950272,40.680496,-73.934990,40.702396,10.50
7067,2013-08-31 23:23:49,2013-08-31 23:31:26,-73.844254,40.721390,-73.818474,40.734043,9.00
7068,2013-08-31 23:24:42,2013-08-31 23:50:50,-73.846169,40.754543,-73.965820,40.677544,39.00
7069,2013-08-31 23:25:05,2013-08-31 23:35:31,-73.861031,40.893051,-73.901611,40.876530,14.00
7070,2013-08-31 23:27:26,2013-08-31 23:54:49,-73.844818,40.754986,-73.969231,40.761219,26.00
7071,2013-08-31 23:27:46,2013-08-31 23:41:39,-73.954086,40.742813,-74.000793,40.736462,13.50
7072,2013-08-31 23:28:21,2013-09-01 00:00:58,-73.846001,40.754578,-73.974899,40.759235,38.50
7073,2013-08-31 23:30:53,2013-08-31 23:54:56,-73.849991,40.753479,-73.977623,40.779022,34.00
7074,2013-08-31 23:33:19,2013-08-31 23:38:51,-73.829971,40.713734,-73.824730,40.705601,5.50
7075,2013-08-31 23:34:00,2013-08-31 23:43:00,-73.845917,40.754639,-73.860458,40.739819,8.50
7076,2013-08-31 23:34:55,2013-08-31 23:51:43,-73.967758,40.693268,-73.989105,40.720303,14.50
7077,2013-08-31 23:34:58,2013-08-31 23:50:56,-73.991852,40.702530,-74.007256,40.733669,14.50
7078,2013-08-31 23:35:21,2013-08-31 23:48:13,-73.833656,40.771580,-73.843651,40.689556,22.50
7079,2013-08-31 23:40:04,2013-08-31 23:41:42,-73.926193,40.761082,-73.928421,40.756069,3.50
7080,2013-08-31 23:41:33,2013-09-01 00:00:18,-73.921158,40.743267,-73.902840,40.701447,17.00
7081,2013-08-31 23:44:17,2013-08-31 23:52:01,-73.946342,40.711445,-73.951027,40.724358,7.50
7082,2013-08-31 23:45:43,2013-08-31 23:50:19,-73.979172,40.678406,-73.988785,40.670506,5.50
7083,2013-08-31 23:46:58,2013-08-31 23:51:07,-73.943985,40.784100,-73.952507,40.773121,6.00
7084,2013-08-31 23:48:10,2013-09-01 00:09:26,-73.924644,40.756287,-73.984779,40.710838,25.00
7085,2013-08-31 23:48:29,2013-08-31 23:59:44,-73.920647,40.767956,-73.885201,40.755516,11.50
7086,2013-08-31 23:50:37,2013-09-01 00:01:12,-73.941200,40.805779,-73.967400,40.801105,9.50
7087,2013-08-31 23:51:16,2013-08-31 23:58:45,-73.844307,40.721352,-73.827965,40.710865,8.00
7088,2013-08-31 23:52:57,2013-08-31 23:58:45,-73.917976,40.765259,-73.922600,40.755390,6.00
7089,2013-08-31 23:54:00,2013-08-31 00:06:00,-73.845985,40.754650,-73.884468,40.737869,15.00
7090,2013-08-31 23:54:50,2013-08-31 23:57:30,-73.943115,40.785336,-73.932846,40.796619,5.00
7091,2013-08-31 23:57:33,2013-09-01 00:10:03,-73.824432,40.734287,-73.850494,40.722317,11.50
7092,2013-08-31 23:58:18,2013-09-01 00:25:07,-73.964668,40.681309,-74.000633,40.732147,25.50
7093,2013-08-31 23:58:58,2013-09-01 00:06:31,-73.932343,40.796421,-73.955841,40.804691,7.50
7094,2013-08-31 23:59:14,2013-09-01 00:07:40,-73.980034,40.676315,-73.964218,40.652081,9.00

In [8]:
#clean NYC 2012-2013 traffic data

#convert dataframe columns to a list
cols = list(df_traffic)
#Rearranging columns
cols.insert(0, cols.pop(cols.index('Date')))
#Roadway names and intersections are cluttering the date, moving to the back, 
#keeping segment ID so we know what are the same roads
cols.insert(31, cols.pop(cols.index('Roadway Name')))
cols.insert(31, cols.pop(cols.index('From')))
cols.insert(31, cols.pop(cols.index('To')))
#Don't know how to use 'ID'  so moving it to the back
cols.insert(31, cols.pop(cols.index('ID')))
cols.insert(4, 'Total Traffic')
cols.insert(1, 'Weekday')
#creating list of times 
Times = cols[7:31]
#Translates dates into weekdays
for i, row in df_traffic.iterrows():
    df_traffic.loc[i, 'Weekday'] = datetime.datetime.strptime(df_traffic.loc[i, 'Date'], '%m/%d/%Y').strftime('%A')
df_traffic = df_traffic.ix[:, cols]
#column for total traffic of the day
df_traffic['Total Traffic'] = df_traffic[Times].sum(axis=1)

NameError: name 'datetime' is not defined

#convert street names to coordinates for NYC 2012-2013 traffic data (don't run this cell as it takes a lot of time and we have limited queries to the API)
#we import the new dataframe in the next cell

# Generate empty columns for GPS coordinates 
df_traffic['From Lat'] = np.nan
df_traffic['From Lon'] = np.nan
df_traffic['To Lat'] = np.nan
df_traffic['To Lon'] = np.nan

# Generate gps coordinates for the From intersection 
for i in df_traffic.index:
    # Concatenate the street names as an intersection to find the coords
    road = (df_traffic.ix[i,'Roadway Name']) + ' & ' + (df_traffic.ix[i,'From']) + ', NY'
    # Send the address 
    # If the address isn't found then the coordinates column remains as NaN 
    g = geocoder.google(road)
    df_traffic.set_value(i, 'From Lat', g.lat)
    df_traffic.set_value(i, 'From Lon', g.lng)
    
#Drop all the columns where the geocoding failed to obtain coordinates 
# Reindex 

df_traffic = df_traffic.dropna()
df_traffic = df_traffic.reset_index(drop=True)

In [ ]:
#import the dataframe generated from the above cell
traffic = 'traffic_count_coordinates.csv'
df_traffic = pd.read_csv(traffic)
#clean the data with some renaming and deleting useless columns
del df_traffic['Unnamed: 0']
df_traffic.rename(columns={'Segment ID': 'Total Traffic'}, inplace=True)

In [ ]:
#cleaned NYC 2012-2013 traffic data with coordinates and total traffic
#convert the cleaned data to csv for use elsewhere
df_traffic.to_csv('Cleaned_Traffic_Count_Coordinates.csv')
df_traffic

In [ ]:
#conclusion